:root:root{
  --theme-color: #e89eca;
  --van-field-label-color: var(--theme-color);
}

#app {
  height: 100vh;
  overflow: scroll;
  background: #f8f8f8;
}

.van-dialog__content{
  display: flex;
  justify-content: center;
  align-items: center;
}
